<mat-tab-group>
    <mat-tab label="TS">
        <div>
            <pre><code appHighlight="typescript">{{ codeSnippetTs }}</code></pre>
        </div>
    </mat-tab>
    <mat-tab label="HTML">
        <div>
            <pre><code appHighlight="typescript">{{ codeSnippetHTML }}</code></pre>
        </div>
    </mat-tab>

    <mat-tab label="CSS">
        <div>
        <pre><code appHighlight="typescript">{{ codeSnippetCSS }}</code></pre>
    </div></mat-tab>
    <mat-tab label="Output"> 
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="sampleForm">
           <div class="actualForm">
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstName">
                <mat-error *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
                  First name is required
                </mat-error>
              </mat-form-field>
            
              <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastName">
                <mat-error *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
                  Last name is required
                </mat-error>
              </mat-form-field>
            
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                  Enter a valid email
                </mat-error>
              </mat-form-field>
            
              <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Submit</button>
           </div>
           
          </form>
          
          
     </mat-tab>
</mat-tab-group>