<!-- src/app/app.component.html -->

<mat-toolbar>
  <button mat-raised-button>Angular Coding Interview </button>
</mat-toolbar>

<div class="main-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
      <div class="sidenav-actual-container">
        <mat-nav-list *ngFor="let item of questionList; let i = index">
          <a mat-list-item [routerLink]="item.route" routerLinkActive="active" [queryParams]="{ name: item.name }">
            <span mat-line matTooltip={{item.name}} matTooltipPosition="below"> {{i+1}}. {{item.name}}</span>
          </a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <mat-card appearance="outlined">
          <mat-card-content class="card-content">{{name}}</mat-card-content>
        </mat-card>
        <div class="work-area">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>