.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  .pagination-container button {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  